body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.content {
    width: 640px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin: 0px;
}

img {
    width: 100%;
    margin: 20px 0px;
}

a {
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: royalblue;
    text-decoration: underline;
    font-size: small;
    padding: 5px;
    width: 100%;
    text-align: left;
    margin: 10px 0px;
    cursor: pointer;
    background-color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.25),
        -4px -4px 8px rgba(255, 255, 255, 0.8),
        inset 0px 0px 0px whitesmoke,
        inset 0px 0px 0px whitesmoke;
    transition: box-shadow 150ms ease-in;
}

a:hover {
    box-shadow:
    0px 0px 0px whitesmoke,
    0px 0px 0px whitesmoke,
    inset 0px 0px 0px whitesmoke,
    inset 0px 0px 0px whitesmoke;
}

a:active {
    transition: box-shadow 50ms ease-out;
    box-shadow:
        0px 0px 0px whitesmoke,
        0px 0px 0px whitesmoke,
        inset 1px 1px 3px rgba(0, 0, 0, 0.25),
        inset -4px -4px 8px rgba(255, 255, 255, 0.8);
}

a:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 3px rgba(100, 150, 255, 0.4),
    0 0 0 3px rgba(100, 150, 255, 0.4),
    4px 4px 8px rgba(0, 0, 0, 0.25),
    -4px -4px 8px rgba(255, 255, 255, 0.8);

}
